body, html {
    margin: 0;
    font-family: sans-serif;
    background-color: rgb(255, 218, 226);
}

.content {
    margin: 0 auto;
    width: 1000px;
}

table, td, th {
    border: 1px solid #aaa;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    height: 30px;
}

td {
    text-align: center;
    padding: 5px;
}

.form {
    margin-top: 20px;
}

#content {
    width: 70%;
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: rgb(0, 255, 21);
}

a.button1 {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: rgb(255, 0, 0);
}

a.button2 {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: rgb(204, 92, 189);
}