body, html {
    margin: 0;
    font-family: sans-serif;
    background-color: rgb(255, 228, 228);
}

.content {
    margin: 0 auto;
    width: 1400px;
}

table, td, th {
    border: 1px solid #aaa;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    height: 30px;
}

td {
    text-align: center;
    padding: 5px;
}

.form {
    margin-top: 20px;
}

#content {
    width: 70%;
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: rgb(0, 255, 21);
}

a.button1 {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: rgb(255, 0, 0);
}

a.button2 {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: rgb(204, 92, 189);
}

.formfield * {
    vertical-align: top;
  }

.tab { 
    margin-top: 5px;
    margin-left: 50px;
    margin-bottom: 5px ; 
}

.voterTextboxName{
    margin-left: 2px;
    margin-bottom: 100px;   
}

.voterTextboxEmail{
    display: block;
    float: left;    
    width: 100px;    
    height: 100px;    
}