{% extends 'base.html'%}

{% block head %}
<title>Create Poll</title>
<link rel = "stylesheet" href= "https://cdn.jsdelivr.net/npm/fullcalendar@5.10.1/main.min.css">
<script src = "https://cdn.jsdelivr.net/npm/fullcalendar@5.10.1/main.min.js"></script>
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center">Create a Poll</h1>
    {% if tasks|length < 1 %}
    <h4 style="text-align: center">No Polls made. Create one below!</h4>
    {% else %}

    <table>
        
        <tr>
            <th>Poll Title</th>
            <th>Date Added</th>
            <th>Actions</th>
        </tr>
        {% for task in tasks%}
            <tr>
                <td>{{ task.content }}</td>
                <td>{{ task.date_created.date() }}</td>
                <td>
                    <a href="/delete/{{task.id}}">Delete</a>
                    <br>
                    <a href ="/update/{{task.id}}">Update</a>
                    <br>
                    {% if task.published == False %}
                    <a href="/publish/{{task.id}}" class="button">Publish</a>
                    {% else %}
                    <a href="/publish/{{task.id}}" class="button1">Unpublish</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>
    {% endif %}
    <div class="form">
        <form action="/" method="POST">
            <label for="Poll Title">Poll Title:</label>
            <input type="text" name="content" id="content">
            <br>
            <label for="start">Start date:</label>
            <input type="date" id="start" name="start-date" value=task.date_created.date() min="2021-11-30" max="2051-11-30">
            <br>
            <label for="end">End date:</label>
            <input type="date" id="end" name="end-date" value=task.date_created.date() min="2021-11-30" max="2051-11-30">
        </form>
    </div>
    <div id="calendar"></div>
    <script>
        let calendarEl = document.getElementById('calendar');
        let calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'timeGridWeek',
            selectable: true,
            selectHelper: true,
            editable: true,
            eventLimit: true,
            headerToolbar:{
                left: 'prev,next today',
                right: 'dayGridMonth,timeGridWeek,timeGridDay'
            },
            events:[
                {% for event in events %}
                {
                    title: '{{event.todo}}',
                    start: '{{event.date}}',
                },
                {% endfor %}
            ],
            select: function(start, end) {
                $.getScript('/events/new', function() {
                $('#event_date_range').val(moment(start).format("MM/DD/YYYY HH:mm") + ' - ' + moment(end).format("MM/DD/YYYY HH:mm"))
                date_range_picker();
                $('.start_hidden').val(moment(start).format('YYYY-MM-DD HH:mm'));
                $('.end_hidden').val(moment(end).format('YYYY-MM-DD HH:mm'));
                });
                calendar.fullCalendar('unselect');
            }
        });
        calendar.render();
    </script>
    <input type="submit" value="Create Poll">
</div>
{% endblock %}