{% extends 'base.html'%}

{% block head %}
<title>Create Poll</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center">Create a Poll</h1>
    {% if tasks|length < 1 %}
    <h4 style="text-align: center">No Polls made. Create one below!</h4>
        {% if task.content|length < 1 %}
        <h4 style="text-align: center">Invalid Poll Title. Please enter a Poll Title name</h4>
        {% endif %}
    {% else %}

    <table>
        
        <tr>
            <th>Poll Title</th>
            <th>Added</th>
            <th>Actions</th>
        </tr>
        {% for task in tasks%}
            <tr>
                <td>{{ task.content }}</td>
                <td>{{ task.date_created.date() }}</td>
                <td>
                    <a href="/delete/{{task.id}}">Delete</a>
                    <br>
                    <a href ="/update/{{task.id}}">Update</a>

                </td>
            </tr>
        {% endfor %}
    </table>
    {% endif %}
    <div class="form">
        <form action="/" method="POST">
            <input type="text" name="content" id="content">
            <input type="submit" value="Create Poll">
        </form>
    </div>
</div>
{% endblock %}