{% extends 'base.html'%}

{% block head %}
<title>Vote on Poll</title>
{% endblock %}


{% block body %}
<h1><u><center>Vote on Poll</center></u></h1>
<form method="POST" action ="">
    <center> 
    {{ form.hidden_tag() }}
    <di class="voterTextboxName"> 
        <tr>
            <td>Name: </td>
            {{ form.name }}
        </tr>
    </div>
    
    <div>
        <tr>
            <td>Email: </td>
            {{ form.email}}
        </tr>
    </div>

    <div class="tab">
        <tr>
            <td><b>Poll Title: </b> {{ pollTitle }}</td>
            <td><b>Location: </b>: {{ location }}</td>
        </tr>
    </div>

    <div class="tab">
        <tr>
            <td><b>Timezone: </b> {{ timezone }}</td>
            <td><b>Deadline: </b> {{ "deadline" }}</td>
        </tr>
    </div>
    </center>
    <table id="myTable" style="border:1px solid black;margin-left:auto;margin-right:auto;">
        <tr class="header">
            <th>Select</th>
            <th>Day</th>
            <th>Month</th>
            <th>Day</th>
            <th>Time Slot</th>
        </tr>
        {% for times in timeSlot %}
            <tr>
                <td> <input type="checkbox" name="checkbox" id=""> </td>
                <td> {{ dayType }} </td>
                <td> {{ month }} </td>
                <td> {{ day }} </td>
                <td> {{ times }} </td>
            </tr>      
          {% endfor %}
      </table>

    <div class="formfield">
        <tr>
            <label for="Notes">Notes: </label>
            <textarea id="Notes" rows="10" cols="30">Enter your notes here</textarea>
        </tr>
    </div>

    <div>
        <tr>
            
        </tr>

    </div>
</form>
<script>
    
</script>
{% endblock %}